@import url('https://fonts.googleapis.com/css2?family=Instrument+Serif:ital@0;1&display=swap');

* { margin: 0; padding: 0 }


:root {
  --off-white: #fffef1;
  --orange: #ffaa00;
  --blue: #1e0072;
  --red: #f33e3e;
  --black: #000;

  --brown-coal: #66412c;
  --coal: #4a4a4a;
  --gas: #8c8c8c;
  --oil: #b0b0b0;
  --biomass: #3f6d3b;
  --nuclear: #ffaa00;
  --hydro: #5aa6c8;
  --wind: #7bc8a4;
  --solar: #ffd966;
  --bioenergy: #9c755f;
  --other-renewables: #cfcfcf;

  --phase-out: var(--red);
  --freeze: var(--hydro);
  --expanding: var(--nuclear);
  --never-adopted: var(--coal);
  --restarting: var(--biomass);
}

body, html {
  height: 100%;
  width: 100%;
  background-color: var(--off-white);
  font-family: "Instrument Serif", serif;
  scroll-behavior: smooth;

  overflow-x: hidden;
}

section {
  position: relative;
  min-height: 75vh;
  padding-left: 32px;
  margin-bottom: 64px;
  opacity: 0;
  scroll-behavior: smooth;
}

/* h1, h2, h3, h4, p {
  mix-blend-mode: difference;
  color: white;
} */

h1 {
  font-size: 128px;
}

h3 {
  font-size: 80px;
  /* text-align: center; */
  /* margin-bottom: 64px; */
}

h4 {
  margin-left: 16px;
  font-size: 44px;
  font-weight: 200;
  margin-bottom: 32px;
}

a {
  text-decoration: none;
  color: var(--black);
  transition: 0.1s;
}

a:hover {
  text-decoration: underline;
}

ol {
  padding: 32px;
}

li {
  font-size: 32px;
  width: fit-content;
  transition: 0.1s;
}

li:hover {
  margin-left: 16px;
}

p {
  font-size: 28px;
}

img {
  margin-bottom: 32px;
  /* width: 100%; */
}

#landing, #quote {
  height: 100vh;
}

#formula {
  margin: 32px 0;
}

.content {
  margin-left: 32px;
  width: 90%;
}

.visible {
  opacity: 1;
  transition: 0.25s;
}

.flex {
  display: flex;
} 

.flex-center {
  align-items: center;
  justify-content: center;
}

.flex-horz {
  justify-content: center;
}

.flex-vert {
  align-items: center;
}

.text-center {
  text-align: center;
}

.col {
  flex-direction: column;
}

.w-66 {
  width: 75%;
}

.quote {
  font-size: 64px;
}
.quote-author {
  font-size: 32px;
}

.diagram {
  width: 100%;
}

.wave {
  position: absolute;
  width: 100vw;
  left: 0;
  margin: 0;
  padding: 0;
}

.wave-top {
  transform: translate(0, -100%);
}

.wave-bot {
  width: 101%;
  left: -1px;
}

.inverted {
  color: var(--off-white);
  background-color: var(--black);
  margin: 400px 0;
}

.blue {
  background-color: var(--blue);
}

.highlight {
  color: var(--orange) !important;
}

.debug {
  border: 1px solid red;
}