@import url('https://fonts.googleapis.com/css2?family=Instrument+Serif:ital@0;1&display=swap');
@import url(./scroll.css);
@import url(./history.css);
@import url(./evolution.css);

* { margin: 0; padding: 0 }


:root {
  --off-white: #fffef1;
  --orange: #ffaa00;
  --red: #f33e3e;
  --black: #000;
}

body, hmtl {
  height: 100%;
  width: 100%;
  background-color: var(--off-white);
  font-family: "Instrument Serif", serif;
  scroll-behavior: smooth;

  overflow-x: hidden;
}

section {
  min-height: 50vh;
  padding: 32px;
  opacity: 0;
  scroll-behavior: smooth;
}

h1 {
  font-size: 128px;
}

h3 {
  font-size: 80px;
  /* text-align: center; */
  margin-bottom: 64px;
}

h4 {
  margin-left: 16px;
  font-size: 44px;
  font-weight: 200;
  margin-bottom: 32px;
}

a {
  text-decoration: none;
  color: var(--black);
  transition: 0.1s;
}

a:hover {
  text-decoration: underline;
}

ol {
  padding: 32px;
}

li {
  font-size: 32px;
  width: fit-content;
  transition: 0.1s;
}

li:hover {
  margin-left: 16px;
}

p {
  font-size: 32px;
}

img {
  margin-bottom: 32px;
}

#landing, #quote {
  height: 100vh;
}

.content {
  margin-left: 32px;
  width: 95%;
}

.visible {
  opacity: 1;
  transition: 0.25s;
}

.flex {
  display: flex;
} 

.flex-center {
  align-items: center;
  justify-content: center;
}

.flex-horz {
  justify-content: center;
}

.flex-vert {
  align-items: center;
}

.col {
  flex-direction: column;
}

.quote {
  font-size: 64px;
}
.quote-author {
  font-size: 32px;
}